@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

body{
    background-color: black;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: whitesmoke;
    margin: auto 0 auto 0;
    font-family: "Delius Swash Caps", serif;
    font-style: normal;
}
header img{
    height: 100px;
    width: 100px;
}
.teste{
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    background-image: url(../imagens/Background-black.jpeg);
}
.card{
    border-color: white;
    border-style: dotted;
    width: 300px;
    margin-top: 25px;
}
.card-img{
    width: 275px;
}
.card-list{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-nav{
    border: none;
    height: 100%;
    background-color: #111;
    color: whitesmoke;
}
.btn-nav:hover{
    background-color: rgba(0, 0, 0, 0.473);
    cursor: pointer;
}
.logo-nav{
    margin-left: 15px;
}
nav{
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #111;
    background-position: center;
    align-items: center;
    gap: 15px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
}
main{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.473);
    width: 99%;
    
}
main div.img{
    display: flexbox;
    height: 100px;
    width: 100px;
}
main article{
    text-align: left;
}
main article ul{
    list-style: none;
}