@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

body{
    background-color: black;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: whitesmoke;
    font-family: "Delius Swash Caps", serif;
    font-style: normal;
}
header img{
    height: 100px;
    width: 100px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
}
nav a:hover{
    color: lightblue;
}
main ul{
    list-style: none;
}